html {
  font-size: var(--brand_font_size); /* 기본 폰트 크기를 16px로 설정 */
}
html,
body,
#root {
  height: 100%;
}
body {
  overflow: hidden;
  position: relative;
  width: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  display: block;
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input,
select,
textarea,
button {
  border-radius: 0;
  vertical-align: middle;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background: var(--white);
  direction: ltr;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 1rem;
  font-family: Pretendard, 'Noto Sans KR', 'Noto Sans KR', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: var(--black_1200);
}
a {
  color: var(--green_1200);
  text-decoration: none;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
