:root {
  /* brand */
  --brand_forn_size: 16px;

  /* colors - yellow */
  --yellow_100: #fcffdb;
  --yellow_200: #fbffc2;
  --yellow_300: #f9ffa8;
  --yellow_400: #f7ff91;
  --yellow_500: #faff6b;
  --yellow_600: #f7ff05;
  --yellow_700: #fafa00;
  --yellow_800: #fff23d;
  --yellow_900: #ffe924;
  --yellow_1000: #ffde0a;
  --yellow_1100: #fad400;
  --yellow_1200: #f5cc00;

  /* colors - green */
  --green_100: #eafbf7;
  --green_200: #d9f7f1;
  --green_300: #c0f2e8;
  --green_400: #a6eddf;
  --green_500: #91e8d7;
  --green_600: #7ce4cf;
  --green_700: #67e0c7;
  --green_800: #4ddbbe;
  --green_900: #25d4b1;
  --green_1000: #06c29c;
  --green_1100: #05b390;
  --green_1200: #079c7e;

  /* colors - gray */
  --gray_100: #f3f7f6;
  --gray_200: #e4ecec;
  --gray_300: #d6e3e2;
  --gray_400: #c5d8d6;
  --gray_500: #b6cdcc;
  --gray_600: #a7c3c1;
  --gray_700: #98b9b6;
  --gray_800: #89aeab;
  --gray_900: #7aa4a1;
  --gray_1000: #6b9a96;
  --gray_1100: #5f8b88;
  --gray_1200: #557c79;

  /* colors - black */
  --black_100: #f9f9f9;
  --black_200: #f2f2f2;
  --black_300: #e8e8e8;
  --black_400: #dbdbdb;
  --black_500: #d1d1d1;
  --black_600: #b8b8b8;
  --black_700: #9e9e9e;
  --black_800: #858585;
  --black_900: #6b6b6b;
  --black_1000: #525252;
  --black_1100: #383838;
  --black_1200: #191919;

  /* colors - momo */
  --white: #ffffff;
  --black: #000000;
}
