.wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.inner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}
.cont_img {
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  & img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
.cont_txt {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
