.wrap {
  width: 600px;
}
.tit {
  border: 1px solid;
}
.cont {
  border: 1px solid;
}
.linked_img {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.frame_linked_img {
  position: relative;
}
.frame_linked_img img {
  width: 100%;
}
.products {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.products button {
  transition: all 0.3s ease-in-out;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
