.wrap {
  position: relative;
  display: flex;
  flex-flow: column;
  color: var(--black_1200);
  background-color: var(--black_100);
}
.head {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12rem;
  background-color: var(--black);
  color: var(--white);
}
.body {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 0.5rem;
}
.wrap_event_card {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 1.2rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--gray_300);
  background-color: var(--white);

  p:nth-child(1) {
    color: var(var(--green_1200));
  }
  p:nth-child(2) {
    color: var(--black_1200);
  }
  p:nth-child(3) {
    color: var(--black_900);
  }
  p:nth-child(4) {
    text-align: right;
    color: var(--black_700);
  }
}
